{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/showHidePassword.js"></script>
    

    <script>
       $.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Hasło musi zawierać co najmniej 1 literę i 1 cyfrę.'
        );
	
		$(document).ready(function() {	
			var userId = '{{ user.id }}';
			
			$('#formSignup').validate( {
				errorClass: 'text-danger',
				rules: {
					email: {
						required: true,
						email: true,
						remote: {
							url: '/account/validate-email',
							data: {
								ignore_id: function() {
									return userId;
								}
							}
						}
					},
					password: {
						required: true,
						minlength: 6,
						maxlength: 20,
						validPassword: true
					},
					name: {
						maxlength: 20
					}	
				},
				messages: {
					email: {
						required: "The field cannot be empty.",
						email: "Please enter a valid email address.",
						remote: "The e-mail address provided is taken."
					}, 
					name: {
						required: "The field cannot be empty.",
						maxlength: "The name can be up to 20 characters long."
					},
					password: {
						required: "The field cannot be empty.",
						minlength: "The password must consist of at least 6 characters.",
						maxlength: "The name can be up to 20 characters long."
					}
				},
				errorPlacement: function ($error, $element) {
					var name = $element.attr("name");

					$("#error" + name).append($error);
				}

			});		
			
			
		});
		
	</script>

{% endblock %}

{% block body %}

    <h1>Sign up</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<main>
    <div class="container">
        <div class="row vertical-center">
            <div class="main-container py-2 px-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
                <div class="row">	
                    <form class="welcome-message mt-2 mb-2 mx-2 py-3 px-5 w-100" method="post" action="/signup/create" id="formSignup">

                        <h1 class="mb-xl-4 text-center brand"><img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/72/72686.png" width="40" height="40" alt="Logo" style="padding-bottom: 15px;">Budget Manager</h1>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-user-alt"></i> </span>
                            </div>
                            <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required class="form-control" />    
                        </div>

                        <small id="errorname"></small>	
                    
                        <span class="error">{{ user.errors.name }}</span>

                        
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                            </div>
                            <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control" />
                        </div>

                        <small id="erroremail"></small>
						
						<span class="error">{{ user.errors.email }}</span>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" id="inputPassword" name="password" data-toggle="password" placeholder="Password" required class="form-control">
                            <div class="input-group-append" style="cursor:pointer">
                                <span class="input-group-text" onclick="myFunction('inputPassword')">
                                    <i id="showHideIcon" class="fa fa-eye"></i>
                                </span>
                            </div>  
                        </div>

                        <small id="errorpassword"></small>
						
						<span class="error">{{ user.errors.password }}</span>
                        

                        <button type="submit" class="btn btn-hover color-8 btn-lg btn-block mt-3 mb-2">Sign up</button>
                        Already have an account? <a href="/home/index">Log in</a>

                    </form> 
                </div>      
            </div>
        </div>       
    </div>
</main>

{% endblock %}