{% extends 'base.html' %}

{% block title %}Budget Manager{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="row vertical-center">
            <div class="main-container py-2 px-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
                <div class="row">
                    <div class="welcome-message mt-2 mb-2 mx-2 py-3 px-5 w-100">
                        <h1 class="mb-xl-4 text-center brand"><img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/72/72686.png" width="40" height="40" alt="Logo" style="padding-bottom: 15px;">Budget Manager</h1>

                        {% if current_user %}
                        Hello {{ current_user.name }} {#, your ID: {{ current_user.id }}#} ! 
                        <p class="welcome-text text-justify">Select the option you are interested in from the navigation bar. Add new income, expenses, view the balance sheet for the period you are interested in, or personalize your account in the settings.</p>
                        {% else %}

                        <form action="/login/create" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                                </div>
                                <input type="email" class="form-control" placeholder="E-mail" aria-label="email" name="email" value="{{ email }}" required autofocus>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Hasło" aria-label="hasło" name="password"  required>
                            </div>

                            <div class="custom-control custom-checkbox mr-sm-2 mb-3 mt-3">
                                <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} >
                                <label class="custom-control-label" for="rememberMeCheckbox">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-hover color-8 btn-lg btn-block mb-2">Zaloguj</button>
                            You do not have an account?<a href="/signup/new"> Sign up</a>
                        </form>

                        {% endif %}
                    </div>  
                </div>     
            </div>    
        </div>
    </div>    
</main>

{% endblock %}
