{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block footer %}
	<script src="../js/showHidePassword.js"></script>
	<script src="../js/sortTable.js"></script>

	<script>
		function toggleSettingPanel(idOfButton, idOfPanel) {
				$("i", "#"+idOfButton).toggleClass("fas fa-chevron-down fas fa-chevron-up");			
				$('#'+idOfPanel).slideToggle("fast");
		}
		
		$('#editProfileModal').on('shown.bs.modal', function () {
			$('#name').focus();
		})
		
		if ( window.history.replaceState ) {
		  window.history.replaceState( null, null, window.location.href );
		}
		
		$.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Hasło musi zawierać co najmniej 1 literę i 1 cyfrę.'
        );
	
		$(document).ready(function() {
			$('.editIncomeBtn').on('click',function() {
				$('#editIncomeModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#incomeCategoryModal').val(data[0]);
				$('#incomeCategoryIdModal').val(data[2]);
				
			});			
			
			$('.editExpenseBtn').on('click',function() {
				$('#editExpenseModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#expenseCategoryModal').val(data[0]);
				$('#expenseLimitModal').val(data[1]);
				$('#expenseCategoryIdModal').val(data[3]);
				
			});			
			
			$('.editPaymentBtn').on('click',function() {
				$('#editPaymentModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#paymentModal').val(data[0]);
				$('#paymentIdModal').val(data[2]);
				
			});
			
			var userId = '{{ user.id }}';
			
			$('#editProfileForm').validate( {
				errorClass: 'text-danger',
				rules: {
					email: {
						required: true,
						email: true,
						remote: {
							url: '/account/validate-email',
							data: {
								ignore_id: function() {
									return userId;
								}
							}
						}
					},
					name: {
						maxlength: 20
					}	
				},
				messages: {
					email: {
						required: "The field cannot be empty.",
						email: "Please enter a valid email address.",
						remote: "The email address you provided is used."
					}, 
					name: {
						required: "The field cannot be empty.",
						maxlength: "The name can be up to 20 characters long."
					}
				},
				errorPlacement: function ($error, $element) {
					var name = $element.attr("name");

					$("#error" + name).append($error);
				}

			});	
			
			$('#editPasswordForm').validate( {
				errorClass: 'text-danger',
				rules: {

					password: {
						required: true,
						minlength: 6,
						maxlength: 20,
						validPassword: true
					},
					oldPassword: {
						remote: {
							url: '/account/validate-password',
							data: {
								user_id: function() {
									return userId;
								}								
							}
						}
					}
				},
				messages: {
					password: {
						required: "The field cannot be empty.",
						minlength: "The password must consist of at least 6 characters.",
						maxlength: "The password must be a maximum of 20 characters."
					},					
					oldPassword: {
						required: "The field cannot be empty.",
						remote: "The password is incorrect."
					}
				},
				errorPlacement: function ($error, $element) {
					var name = $element.attr("name");

					$("#error" + name).append($error);
				}

			});			
			
			
		});

	</script>

{% endblock %}



{% block body %}
<section class="Settings">
    <div class="row">
		<div class="main-container py-2 px-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
		
			<div class="row">	
				<div class="welcome-message mt-2 mb-2 mx-2 py-3 px-4 w-100">
				
					<div class="row">
						<div class="col-12 text-center">
							<h2 class="mb-xl-4">Settings</h2>
						</div>
						<button id="settingButton1" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel1')">Income categories <i class="fas fa-chevron-down setting-icon"></i></button>

						<div id="settingTogglePanel1" class="settingTogglePanel w-100 px-2">
						
						<table id="tableOfIncomesCategories" class="table table-hover table-active text-white table-sm table-text">
							
							<thead>	
								<tr>
								<th onclick="sortTableAlphabetically('tableOfIncomesCategories')" scope="col">Category <i class="fas fa-sort"></i></th>
								<th scope="col" width="5%"></th>
								<th scope="col" style="display:none;">ID</th></tr>
							</thead>
							<tbody>
								{% for user_incomes in user_incomes %}
								<tr class="editIncomeBtn"><td>{{ user_incomes.name }}</td>
								<td><i class="fas fa-edit"></i></td>
								<td style="display:none;">{{ user_incomes.id }}</td></tr>
							{% endfor %}
							</tbody>
						</table>
                        <div class="row">
							<div class="col mb-2">
								<button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal" data-target="#addIncomeCategoryModal">Add a new category</button>
							</div>						
						</div>
                    </div>

                    <div class="modal fade" id="addIncomeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeCategory" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="addIncomeCategory" class="modal-title">Add a income category</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/settings/addIncomeCategory" method="post" id="newIncomeCategoryForm">
                                    <div class="modal-body">
                                            
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
                                            </div>
                                            <input type="text" class="form-control"  placeholder="Income Category" maxlength="40" step="any" aria-label="IncomeCategory" name="newIncomeCategory" required >
                                        </div>
    
                                    </div>
                                                                        
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-hover color-8">Confirm</button>
                                    </div>  
                                </form>	
                            </div>
                        </div>
                    </div>			
                    <div class="modal fade" id="editIncomeModal" tabindex="-1" role="dialog" aria-labelledby="editTheIncomeCategory" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="editTheIncomeCategory" class="modal-title">Edit the income category</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="" method="post" id='editIncomeForm'>
                                    <div class="modal-body">
                                            
                                        <input type="hidden" id="incomeCategoryIdModal" name="incomeCategoryId">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
                                            </div>
                                            <input type="text" id="incomeCategoryModal" class="form-control"  placeholder="Income Category" maxlength="40" step="any" aria-label="incomeCategory" name="incomeCategory" required >
                                        </div>
    
                                    </div>
                                                                        
                                    <div class="modal-footer">
                                        <button id="incomeModalSubmit" formaction="/settings/updateIncomeCategory"  type="submit" class="btn btn-hover btn-success">Confirm</button>
                                        <button type="submit" formaction="/settings/deleteIncomeCategory" class="btn btn-hover color-11">Remove Category</button>
                                    </div>
                                    
                                </form>	
                            </div>
                            
                        </div>
                    </div>

    <!--div class="container my-3">
        <header>
            <h1>Settings</h1>
            <p>Change categories and paymet methods, add new or remove current.</p>
        </header>
        <div class="row g-2">
            <div class="col-sm-6 mb-4 bg-transparent border p-4">
                <form method="post" id="newIncomeCat">
                    <header>
                        <h3>Incomes</h3>
                    </header>
                    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#newIncomeCategory">
                        Add new
                    </button>
                    <!- Modal ->
                    <div class="modal fade" id="newIncomeCategory" tabindex="-1"
                        aria-labelledby="newIncomeCategoryLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="newIncomeCategoryLabel">Add new category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="newIncomeCatName">New category:</label>
                                        <input type="text" class="form-control" id="newIncomeCatName"
                                            name="newIncomeCatName">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="button" formaction="/settings/newIncomeCategory">Save
                                        new</button>
                                </div>
                            </div>
                        </div>
                        <br><br>

                    </div>
                </form>
                <form method="post" id="editIncome">
                    <label>Incomes categories:</label>
                    <select id="categoryIncomes" name="categoryIncomes" class="form-control" required="true">
                        <option value="">--Your current incomes categories--</option>
                        {% for category in income_category %}
                        <option value={{ category.id }}> {{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <div id="modalButtonsIncome" class="form-group mb-4" hidden>
                        <!-- <form method="post" id="editIncome"> -->
                        <!-- Button trigger modal ->
                        <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#editIncomeCat">
                            Edit
                        </button>
                        <!-- Modal ->
                        <div class="modal fade" id="editIncomeCat" tabindex="-1" aria-labelledby="editIncomeCatLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editIncomeCatLabel">Edit category</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group incomeCategoriesInput">
                                            <label for="editIncomeName">New category name:</label>
                                            <input type="text" class="form-control" id="editIncomeName"
                                                name="editIncomeName">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="button" data-bs-dismiss="modal">Cancel</button>

                                        <button class="button" formaction="/settings/editIncomes">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!-- Button trigger modal DELETE->
                       <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#deleteIncomeCat">
                        Delete
                    </button>
                    <!-- Modal ->
                    <div class="modal fade" id="deleteIncomeCat" tabindex="-1"
                        aria-labelledby="deleteIncomeCatLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteIncomeCat">Delete category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group deleteCategoriesInput">
                                        <span style="color: red">Are you sure? It will delete all incomes in
                                            selected category!</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="button" formaction="/settings/deleteIncomes">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div-->
</section>


{% endblock %}



