<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width" initial-scale=1>
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	
	<title>{% block title %}{% endblock %}</title>
	<meta name="keywords" content="save, money, dreams, goals, home, budget, dreamchaser">
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	

</head>


<body>

	{% if current_user %}
		<header>
			<nav class="navbar navbar-dark welcome-message navbar-expand-lg">
				
				<a class="navbar-brand" href="/home/index"><img src="https://cdn-icons-png.flaticon.com/512/72/72686.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="Logo" style="padding-bottom: 3px;">Budget Manager</a>
				
				<div class="menu-btn navbar-toggler" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-label="Navigator">
					<div class="menu-btn__burger"></div>
				</div>
		
				
				<div class="collapse navbar-collapse" id="mainmenu">
					
					<ul class="navbar-nav ml-auto"> 
						
						<li class="nav-item mr-4">
							<a class="nav-link" href="/home/index" > Home page </a>					
						</li>
					
						<li class="nav-item mr-4">
							<a class="nav-link" href="/addIncome/new">Add income</a>					
						</li>

						<li class="nav-item mr-4">
							<a class="nav-link" href="/addExpense/new">Add expense</a>
						</li>

						<li class="nav-item mr-4">
							<a class="nav-link" href="/Balance/new">Balance review</a>
						</li>	

						<li class="nav-item mr-4">
							<a class="nav-link" href="/Profile/show">Profile</a>
						</li>
						<li class="nav-item mr-4">
							<a class="nav-link" href="/Settings/show">Settings</a>
						</li>

						<li class="nav-item mr-4">
							<a class="nav-link" href="/logout">Log out</a>
						</li>					
					
					</ul>
					
				</div>
			
			</nav>
		
		</header>
	{% endif %}
		{% for message in flash_messages %}
			<div class="alert alert-{{ message.type }} alert-dismissible fade show mb-3" role="alert" data-auto-dismiss="3000">
				{{ message.body }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	<div class="container">
	

		{% block body %}
		{% endblock %}
	</div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/c41b73fbf8.js" crossorigin="anonymous"></script>
	<script src="../js/bootstrap-auto-dismiss-alert.js"></script>
	<script src="../js/toggleButton.js"></script>


    {% block footer %}
    {% endblock %}
</body>
</html>
